.RegisterBtn {
    width: 160px;
    color: white;
    background-color: #43cc98;
}
.topBar {
    height: 65px;
    background-color: #2e99e6;
}
.RegisterLabels{
    margin-left:14px;    
}
.RegisterTextBoxes{

}
.RegisterBtnLabel{
    margin-left:95%;
}
